.DS_Store


/Laboratori/P3/P3_SOAP_Client_Application/dist/
/Laboratori/P3/RestAD/nbproject/private/
/Laboratori/RestAD/nbproject/private/
/Laboratori/P4/RestAD/nbproject/private/
/Laboratori/P4/RestAD/build/
/Laboratori/P3/P3_SOAP/build/
/Laboratori/P3/P3_SOAP/dist/
/Laboratori/P3/P3_SOAP/nbproject/private/
/Laboratori/P3/P3_SOAP_Client_Application/build/
/Laboratori/P3/P3_SOAP_Client_Application/nbproject/private/
/Laboratori/P3/P3_SOAP_JSP_Client/build/
/Laboratori/P3/P3_SOAP_JSP_Client/nbproject/private/